@import "../../assets/less/variables.less";

.container {
  width: 100%;
  height: 100vh;
  font-size: 24px;
  color: #333;
  box-sizing: border-box;
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  max-height: 750px;
  border-radius: 10px;
  z-index: 1000;
  overflow: hidden;
}

.control-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  .flex(center);

  Image {
    display: block;
    width: 36px;
    height: 36px;
    padding: 10px 15px;
  }

  .date {
    padding: 10px 50px;
    background: #1296db;
    color: #ffffff;
    border-radius: 10px;
  }
}
